form {
    background-color: aquamarine;
}

 h1{
    letter-spacing:5px;
}

table, th, td{
  border:2px solid;
  width:25%;
  border-collapse:collapse;
}

th{
    height: 50px;
}

td{
    text-align:center;
}

tr:hover{
    background-color: aqua;
}

.dropdownbutton{
    background-color: burlywood;
    height: 50px;
    width: 150px;
    color:white;
    border:none;
    cursor:pointer;
}

.dropdown-menu{
    display:none;
    position:absolute;
    background-color:lightcoral;
    min-width:150px;
}

.dropdown-menu a{
    color:black;
    padding:11px 15px;
    text-decoration:none;
    display:block;
}

.dropdown-menu a:hover{
    background-color:azure;

}

.dropdown:hover .dropdown-menu{
    display:block;
}

.dropdown:hover .dropdownbutton{
    background-color:grey ;
}